name: yourlifestory
services:
  app:
    build: .
    container_name: app
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app
    depends_on:
      database:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  database:
    image: postgres:17
    container_name: database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    ports:
      - "5432:5432"

volumes:
  postgres_db:
